{% extends "ingredients/base.html" %}
{% block title %}OrganizeMyMeal{% endblock %}
{% block description %}OrganizeMyMeal{% endblock %}
{% block content %}
    <h2>Ingredients</h2>
    <a class="btn-floating btn-large waves-effect waves-light red"
        href="{% url 'ingredients:ingredient_new' %}"><i class="material-icons">New</i></a>
    <div class="row">
    {% for ingredient in ingredient_list %}
    <div class="col s6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
	  <span class="card-title">{{ ingredient.name }}</span>
    	  <ul>
	    <li>
	      Type: {{ ingredient.type }}
	    </li>
      	    <li>
      	      Unit of quantity: {{ ingredient.unit }}
      	    </li>
      	    <li>
	      Conservation: {{ ingredient.conservation_day }} days
	    </li>
          </ul>
        </div>
        <div class="card-action">
    	  <a href="{% url 'ingredients:ingredient' ingredient.id %}">
            {{ ingredient.name }}
	  </a>
	</div>
      </div>
    </div>
        {% endfor %}
    </div>
    </ul>
{% endblock %}
