<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Organize your meal easily{% endblock %}</title>
  <meta name="description" 
  	content="{% block description %}Organize your meal easily.{% endblock %}">
  <meta name="author" content="MyIT">
  {% block materialize_stylesheets %}
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}"  med    ia="screen,projection"/>
  {% endblock %}
  {% block materialize_javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'materialize/js/materialize.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ingredients/style.css' %}">
  {% endblock %}
  {% block vuejs_javascripts %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
  {% endblock %}
</head>
<body>
  <div id="container" class="container">
    <div id="navbar">
    {% block navbar %}
      <nav>
        <div class="nav-wrapper">
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a  class="waves-effect waves-light btn" href="{% url 'core:index' %}">Home</a></li>
            <li><a  class="waves-effect waves-light btn" href="{% url 'ingredients:ingredient-list' %}">Ingredients</a></li>
            <li><a  class="waves-effect waves-light btn" href="{% url 'recipes:recipes' %}">Recipes</a></li>
          </ul>
          <ul class="right hide-on-med-and-down" id="nav-auth"><li>{% if user.is_authenticated %}
              Welcome, <span class="username">{{ user.username }}</span>. Thanks for logging in.
          </li>
          <li><a class="waves-effect waves-light btn" href="{% url 'core:logout' %}">Logout</a></li>
          {% else %}
          Welcome, <span class="username">anonymous</span>. Please log in.
          <li><a class="waves-effect waves-light btn" href="{% url 'core:signup' %}">Signup</a></li>
          <li><a class="waves-effect waves-light btn" href="{% url 'core:login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% endblock %}
  </div>
  {% block content %}
  <div class="row">
    <card-recipe/>
  </div>
  <script type="text/x-template" id="card-recipe"  src="{% static 'recipes/html/card_recipe.html' %}" ></script>
  <script type="text/javascript"  src="{% static 'recipes/js/card_recipe.js' %}" ></script>
  <script type="text/javascript"  src="{% static 'recipes/js/index_vue.js' %}" ></script>
  {% endblock %}
  </div>
</body>
