<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Organize your meal easily{% endblock %}</title>
  <meta name="description" 
  	content="{% block description %}Organize your meal easily.{% endblock %}">
  <meta name="author" content="MyIT">
  {% block materialize_stylesheets %}
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}"  med    ia="screen,projection"/>
  {% endblock %}
  {% block materialize_javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'materialize/js/materialize.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ingredients/style.css' %}">
  {% endblock %}
</head>
<body>
    <div class="container">
      <div id="sidebar">
          {% block sidebar %}
          <ul>
            <li><a href="{% url 'core:index' %}">Home</a></li>
            <li><a href="{% url 'ingredients:ingredient-list' %}">Ingredients</a></li>
          </ul>
          <ul>
            <li>{% if user.is_authenticated %}
              <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
            </li>
            <li><a href="{% url 'core:logout' %}">Logout</a></li>
              {% else %}
                <p>Welcome, new user. Please log in.</p>
                <li><a href="{% url 'core:signup' %}">Signup</a></li>
                <li><a href="{% url 'core:login' %}">Login</a></li>
              {% endif %}
          </ul>
          {% endblock %}
      </div>
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
</body>
</html>
